@model string

<h1>Create a Role</h1>
<a asp-action="Index" class="btn btn-outline-dark my-3">Back</a>

<div asp-validation-summary="All" class="text-danger my-3"></div>

<form asp-action="Create" method="post">
    <div class="my-3">
        <label for="name">Name:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-success my-3">Create</button>
</form>