@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>user: Roman pwd: Roman+68</p>
<p>user: admin pwd: Roman+68</p>
<p>user: Filda pwd: Abcd1234+</p>
<p>user: Pavla pwd: Abcd1234+</p>

<hr />

<p>user: Admin pwd: Abcd1234+</p>
<p>user: Kasicka pwd: Abcd1234+</p>
<p>user: Filda pwd: Abcd1234+</p>
<p>user: PiiMii pwd: Abcd1234+</p>

<hr/>
