body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.b {
  border: 2px solid red;
}

.c {
  border: 2px solid lime;
}

.d {
  border: 2px solid purple;
}

.e {
  border: 2px solid blue;
}

.f {
  border: 2px solid yellow;
}

.bg {
  background-color: rgb(240, 240, 240) !important;
}

.n-border {
  border-bottom: 2px solid rgb(150, 205, 244);
  border-left: 2px solid rgb(150, 205, 244);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
