@using AppNetCoreMVC_SchollSystem.ViewModel
@model AppUser

<h1>Edit User</h1>
<a asp-action="Index" class="btn btn-outline-primary mt-5 mb-2">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">
    <div>
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" disabled />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-danger mt-2 mb-5">Save</button>
</form>