/* --------------  tabulka s výpisem ------------------- */
/* :horizontal ... možná to bude správný kousek          */

/* width: 100%; */

table {
  min-width: 100%;
}
tbody {
  display: block;
  height: 50px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
